.imageDiv{
    height: 150px;
    width: 150px;
    background-color: rgb(223, 218, 218);
    border-radius: 50%;
    margin: 2rem auto;
    object-fit: contain;
    overflow: hidden;
}

.imageDiv img{
    width: 100%;
}

.imageBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imageEditInput{
    /* display: flex;
    justify-content: flex-end; */
    display: none
}

.fileSectionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}