.topButtons{
    width: 100%;
    border-bottom: 1px solid rgb(224, 221, 221)
}

.topButtons div{
    width: 50%;
    /* height: 2rem; */
    text-align: center;
    display: inline-block;
}

.active{
    display: inline-block;
    background-color: rgb(184, 218, 248);
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}
.notactive{
    background-color: transparent;
}